@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --primary: #394269;
  --secondary: #f7f8fa;
}
body {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* ! Header */
/* ? Navbar */
nav {
  padding: 15px 0;
  background: var(--primary);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-mobile-search {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  background: white;
  color: var(--primary);
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-menu__item:hover a::after {
  width: 100%;
}
.nav-menu__item a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  content: "";
  background: white;
  transition: 0.2s;
}
.nav-menu__item a {
  position: relative;
  padding-bottom: 3px;
  color: white;
  font-size: 15px;
  font-weight: 200;
}
.nav-tools {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-login {
  padding: 10px 20px;
  background: white;
  color: var(--primary);
  border-radius: 5px;
  font-size: 15px;
}
.nav-tools select {
  background: var(--primary);
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
}
.nav-lang {
  display: flex;
  align-items: center;
}
.nav-lang__flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-lang__flag {
  overflow: hidden;
  width: 30px;
  display: inline-block;
  height: 30px;
  border-radius: 50%;
}
.nav-search:hover {
  width: 200px;
}
.nav-search {
  transition: 0.3s;
  position: relative;
  height: 35px;
  width: 35px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}
.nav-search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 3px 7px;
  outline: none;
}
.nav-search .nav-search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 15px;
  opacity: 0.7;
}

/* ? Hero */
.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero h1 {
  font-size: calc(5rem);
  font-weight: 500;
  text-align: center;
}
.hero-links a:last-child {
  background: transparent;
  color: var(--primary);
  font-weight: 400;
}
.hero-links a {
  color: var(--secondary);
  background: var(--primary);
  border-radius: 5px;
  padding: 12px 40px;
  font-size: 20px;
  font-weight: 200;
}
.hero-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.hero-image {
  width: 100%;
  aspect-ratio: 10/4;
  object-fit: contain;
  border-radius: 20px;
}

/* ! Main */

/* ? SN */
#sn {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}
#sn h2 {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 3px;
  padding-right: 50px;
}
.sn-cards {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sn-cards__item img {
  width: 100%;
}
.sn-cards__item-info a {
  color: var(--primary);
  margin-top: 30px;
  display: inline-block;
}
.sn-cards__item-info p {
  font-size: 15px;
  color: gray;
  margin: 5px 0;
}
.sn-cards__item-info h3 {
  font-weight: 500;
  font-size: 1.3rem;
}
.sn-cards__item-info {
  padding: 15px;
}
.sn-cards__item:hover {
  transform: scale(1.1);
}
.sn-cards__item {
  box-shadow: 0 0 20px 1px #0002;
  width: 100%;
  transition: 1s;
}

/* sn end */

/* start about */

#about {
  background: var(--primary);
  margin-bottom: 100px;
  padding: 63px 0px 63px 0px;
}

#about {
  margin-bottom: 100px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.abaut-left {
  width: 60%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.wrap h2 {
  font-weight: 500;
  font-size: 73px;
  line-height: 140%;
  color: #fff;
}

.left-box__text {
  font-weight: 500;
  font-size: 65px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 20px;
}

.abaut-left__box {
  position: relative;
}

.span1 {
  position: absolute;
  left: 0px;
  bottom: 43px;
  display: inline-block;
  width: 123px;
  height: 1px;
  background: #fff;
}

.wrap {
  position: relative;
}

.span {
  position: absolute;
  left: 0;
  top: 90px;
  width: 283px;
  opacity: 0.8;
  display: inline-block;
  border: 1px solid #fff;
}
.left-box__text2 {
  font-weight: 500;
  font-size: 21px;
  line-height: 140%;
  color: #fff;
  opacity: 0.5;
}
/* about end */

/* compus start */
#campus {
  max-width: 1520px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.campus-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.campus-wrap h2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 50px;
  line-height: 104%;
  color: #000;
  margin-left: 50px;
}

.campus-wrap i:hover {
  transform: scale(1.1);
}
.campus-wrap i {
  font-size: 40px;
  cursor: pointer;
  transition: 0.4s;
}

.campus-img {
  display: flex;
  gap: 20px;
}
/* .compus end */

/* montors start */

#mentors {
  margin-bottom: 100px;
}
#mentors h2 {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 3px;
  padding-right: 50px;
}

/* montors end  */

/* events start */

#events {
  margin-bottom: 100px;
}

#events h2 {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 3px;
  padding-right: 50px;
}
/* events end */

/* contact start */

#contact {
  padding: 126px 95px;
  box-shadow: 11px 11px 54px 21px rgba(0, 0, 0, 0.08);
  background: #fff;
  margin-bottom: 170px;
}

#contact h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 104%;
  color: #000;
  margin-bottom: 30px;
}

#contact p {
  font-weight: 400;
  font-size: 41px;
  line-height: 104%;
  color: #000;
  margin-bottom: 30px;
}

input,
textarea {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}
button {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 20px;
}
button:hover {
  background-color: #1a252f;
  transform: scale(1.2);
}
.input-box {
  display: flex;
  gap: 30px;
}

textarea {
  width: 400px;
  height: 40px;
}

.contact-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-link {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-link__itme a > i {
  font-size: 20px;
  transition: 1s;
  border-radius: 10px;
  padding: 5px;
}
.contact-link__itme a > i:hover {
  transform: scale(1.1) !important;
}
.contact-link__itme a:hover {
  color: #fff;
  background: #1a252f;
}
.contact-link__itme a {
  margin: 10px;
  transition: 1s;
  font-weight: 400;
  font-size: 25px;
  line-height: 104%;
  color: #394269;
  background: #f7f8fa;
  border-radius: 10px;
  padding: 10px;
}
/* contact end */

/* footer start */

.footer {
  padding: 22px 0px;
  background: #1a252f;
}

.footer-wrap {
  text-align: center;
}

.footer-wrap img {
  width: 500px;
  margin-bottom: 50px;
}

.footer-wrap ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-list li > a {
  font-weight: 500;
  font-size: 20px;
  line-height: 158%;
  color: #fff;
}
.footer-list li > a:hover{
  color: blue;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-box p {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #fff;
}

.footer-link a {
  font-weight: 400;
  font-size: 14px;
  line-height: 124%;
  color: #fff;
}

.footer-icon i {
  padding: 10px;
  gap: 20px;
  color: #fff;
  transition: 1s;
}

.footer-icon i:hover {
  transform: scale(1.4);
  color: blue;
}

/* ! Responsive */

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
  .campus-img img {
    width: 350px;
    height: 380px;
  }
  .footer-list li>a{
    font-size: 15px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 991px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-search {
    display: none;
  }
  .nav-mobile-search {
    display: flex;
  }
  .hero h1 {
    font-size: 4.5rem;
  }
  .left-box__text {
    font-size: 55px;
  }
  .wrap h2 {
    font-size: 60px;
  }
  .campus-img img {
    width: 300px;
    height: 337px;
  }
  .campus-wrap h2 {
    font-size: 40px;
  }
  .abaut-left {
    margin: auto;
    padding-left: 100px;
  }
  #contact{
    padding: 80px 40px;
  }
  #contact h2{
    font-size: 40px;
  }
  #contact p{
    font-size: 30px;
  }
  textarea{
    width: 270px;
  }
  .input-box input{
    width: 120px;
  }

  .contact-link{
    margin: 10px;
  }
  .contact-link__itme a{
    font-size: 17px;
  }
  .contact-link__itme a>i{
    font-size: 17px;

  }
  .footer-wrap img{
    width: 350px;
  }
  .footer-list li>a{
    font-size: 11px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
  #sn h2 {
    font-size: 1.5rem;
  }
  .sn-cards {
    gap: 10px;
  }
  .sn-cards__item-info p {
    font-size: 14px;
  }
  .sn-cards__item-info h3 {
    font-size: 1rem;
  }
  .nav-menu {
    position: fixed;
    width: 200px;
    z-index: 9999999;
    height: 100%;
    background: var(--primary);
    top: 0;
    left: 0;
    align-items: start;
    display: none;
    padding: 20px;
    padding-top: 50px;
    flex-direction: column;
  }
  .hero h1 {
    font-size: 4rem;
  }
  .hero-links a {
    font-size: 16px;
  }

  .left-box__text {
    font-size: 35px;
  }
  .wrap h2 {
    text-align: center;
  }
  .wrap {
    flex-direction: column;
    gap: 60px;
    justify-content: center;
  }
  .wrap h2 {
    font-size: 37px;
  }

  .left-box__text {
    font-size: 30px;
  }

  .left-box__text2 {
    font-size: 16px;
  }
  .abaut-left {
    margin: auto;
    padding-left: 100px;
  }

  .span1 {
    width: 60px;
    bottom: 33px;
  }

  .campus-wrap h2 {
    font-size: 30px;
  }
  .campus-img img {
    width: 300px;
    height: 337px;
  }
  .span {
    left: 300px;
    top: 60px;
    width: 150px;
  }

  .contact-link__itme a{
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 568px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .sn-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .wrap {
    flex-direction: column;
  }
  .campus-img img {
    width: 200px;
    height: 237px;
  }

  .campus-wrap h2 {
    font-size: 20px;
  }
  .abaut-left {
    padding-left: 50px;
    gap: 15px;
  }
  .left-box__text {
    font-size: 25px;
  }
  .span {
    left: 200px;
    top: 60px;
    width: 150px;
  }
  #contact{
    text-align: center;
  }
  .contact-wrap{
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-wrap ul{
    display: flex;
    gap: 18px;
  }
  .footer-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-link a{
    font-size: 10px;
  }
  .footer-icon{
    display: flex;
    gap: 0px;
  }
  .footer-box p{
    font-size: 14px;
  }
}

@media (max-width: 568px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .sn-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .campus-img img {
    width: 130px;
    height: 160px;
  }
  .compus-wrap h2 {
    font-size: 10px;
  }
  .span {
    left: 150px;
    top: 60px;
    width: 130px;
  }
  .footer-list{
    display: flex;
    flex-direction: column;
  }
  .footer-list li>a{
    font-size: 20px;
  }
  .footer-box{
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  #sn h2 {
    font-size: 1.4rem;
  }
  .sn-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero h1 {
    font-size: 2rem;
  }
  .nav-tools {
    gap: 10px;
  }
  .nav-tools select {
    padding: 0;
    font-size: 15px;
  }
  .nav-mobile-search {
    display: none;
  }
  .nav-login {
    font-size: 14px;
  }
  .hero-links {
    margin: 20px 0;
  }
  .hero-links a {
    padding: 7px 25px;
    font-size: 15px;
  }
  .campus-wrap {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .campus-wrap h2 > i {
    display: none;
  }
  .span {
    left: 100px;
    top: 60px;
    width: 150px;
  }
  .contact-link__itme{
    font-size: 10px;
    margin: 0;
  }
  .social-icons{
    font-size: 25px;
  }
}
